core
*.o
*.out
*.ko
*.dwo
*.mod
*.mod.c
*.order
*.symvers
*.swp
.*.swp

# doc temp files
~$*
*.tmp

#vs code directory
.vscode
.vs

#Debug and release directories
Debug/
Release/

#Python Cachee
__pycache__